<ion-header>
  <ion-toolbar>
    <ion-title>libro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" >

  <ion-list>
    <ion-item >
      <ion-avatar>         
        <ion-img src="../../assets/imag/book.jpg" alt="Book"></ion-img>
      </ion-avatar>
      <!-- <ion-card>
        Libro:{{books.nomLib}}
        Cantidad:{{books.cantidad}}
        Precio:C$ {{books.precio}}
      </ion-card> -->
      <ion-button routerlink="/cliente" slot="end">
        <ion-icon slot="start" name="cart-outline"></ion-icon>
        Comprar
      </ion-button>
    </ion-item>
  </ion-list>

</ion-content>
