<ion-header>
  <ion-toolbar>
    <ion-title>cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item>
  <ion-card>
    <ion-label>
      Nombre
    </ion-label>
    <ion-input type="text"></ion-input>
  </ion-card>
</ion-item>
<ion-item>
  <ion-card>
    <ion-label>
      Apellidos
    </ion-label>
    <ion-input type="text"></ion-input>
  </ion-card>
</ion-item>
<ion-item>
  <ion-card>
    <ion-label>
      Correo
    </ion-label>
    <ion-input type="text"></ion-input>
  </ion-card>
</ion-item>
<ion-item>
  <ion-card>
    <ion-label>
      Contacto
    </ion-label>
    <ion-input type="text"></ion-input>
  </ion-card>
</ion-item>
<ion-item>
  <ion-card>
    <ion-label>
      Tarjeta
    </ion-label>
    <ion-input type="text"></ion-input>
  </ion-card>
</ion-item>
<ion-item>
  <ion-card>    
   <ion-button  color="success"  routerLink="/libro">
    <ion-icon name="save"></ion-icon>
    Registrar
    </ion-button> 
  </ion-card>
</ion-item>
</ion-content>
